@mixin font-size($size-value: 1.3, $line-height: '', $letter-spacing: 0) {
    font-size: $size-value / 10 + rem;
    @if $line-height != '' {
        line-height: $line-height / 10 + rem;
    }
    @if $letter-spacing != '' {
        letter-spacing: $letter-spacing / 1000 + em;
    }
}

//Breakpoints
$oldmob: __oldmobile__px;
$mob: __mobile__px;
$smalltablet: __smalltablet__px;
$tablet: __tablet__px;
$smalldesktop: __smalldesktop__px;

@mixin oldmob {
    @media screen and (max-width: $oldmob) {
        @content;
    }
}

@mixin mob {
    @media screen and (max-width: $mob) {
        @content;
    }
}

@mixin smalltablet {
    @media screen and (max-width: $smalltablet) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin smalldesktop {
    @media screen and (max-width: $smalldesktop) {
        @content;
    }
}
