@use 'sass:math';

@mixin font-size($size-value: 1.3, $line-height: '', $letter-spacing: 0) {
  font-size: math.div($size-value, 10) + rem;
  @if $line-height != '' {
    line-height: math.div($line-height, 10) + rem;
  }
  @if $letter-spacing != '' {
    letter-spacing: math.div($letter-spacing, 1000) + em;
  }
}

@mixin oldmob {
  @media screen and (max-width: $oldmob) {
    @content;
  }
}

@mixin mob {
  @media screen and (max-width: $mob) {
    @content;
  }
}

@mixin smalltablet {
  @media screen and (max-width: $smalltablet) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin smalldesktop {
  @media screen and (max-width: $smalldesktop) {
    @content;
  }
}
